.Simulation-Icon {
    margin-bottom: -40px;
    vertical-align: bottom;
    background-color: red;
}

.hidden {
    display: none
}

.tabs .tab a{
    color:#00ACC1;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:#008B9B;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);	
}
.tabs .indicator {
	background-color:#009BAD;
}